[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework = "*"
djoser = "*"
django-crispy-forms = "*"
django-crispy-bootstrap = "*"
crispy-bootstrap4 = "*"
drf-nested-routers = "*"
pillow = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9.16"
